/* Define a fonte personalizada */
@font-face {
    font-family: "nimbus-sans-tw01con";
    src: url("../fonts/3591a95e9abd510d170b0ba4077e70d3.eot");
    src: url("../fonts/3591a95e9abd510d170b0ba4077e70d3.woff2") format("woff2"),
        url("../fonts/3591a95e9abd510d170b0ba4077e70d3.woff") format("woff"),
        url("../fonts/3591a95e9abd510d170b0ba4077e70d3.ttf") format("truetype");
}

/* Estilo geral */
p {
    margin-bottom: 0;
}

body {
    background-image: url(../img/background.jpeg);
    background-attachment: fixed;
    background-size: cover;
    font-family: nimbus-sans-tw01con, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 70px;
}

iframe {
    border-radius: 0.75rem;
}

/* Estilo da navbar */
.navbar {
    background: #ea6655;
}

/* Estilo da seção home */
#home {
    color: white;
}

/* Estilo das seções */
section {
    color: white;
}

section h2 {
    font-weight: bold;
}

/* Estilo das caixas */
.caixa {
    padding: 3rem 0;
    margin-bottom: 1.5rem;
}

.caixa p {
    margin-bottom: 1rem;
}

.caixa-primeira {
    margin-bottom: 0;
}

/* Estilo carrossel */

.carousel button {
    background-color: #ea6655;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
}

/* test */

/* Estilo do rodapé */
footer p a {
    margin: 0.3125rem 0.9375rem;
}

/* Fundos com efeito de desfoque */
.fundo-branco,
.fundo-preto {
    backdrop-filter: blur(0.625rem) saturate(100%);
    -webkit-backdrop-filter: blur(0.625rem) saturate(100%);
    border-radius: 0.75rem;
}

.fundo-branco {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.fundo-preto {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Estilos específicos */
.primeiro-maior {
    font-size: 1.3rem;
}

.accordion-item {
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}

.parceiros img {
    border-radius: 10%;
    margin: 0.3125rem;
    width: 3.125rem;
}